@tailwind base;
@tailwind components;
@tailwind utilities;

/* --- Global resets and defaults --- */
html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  @apply bg-gray-100 text-gray-800 font-sans;
}
